/*
Style sheet for the plugin
*/



.fimage
{
float: left;
margin: 10px; 
margin-top: 30px;
}



.rcontents
{
float: left;
margin-top: 5px;
border-bottom: solid hsl(0, 96%, 21%);
text-indent: 2.5em;
}



    
              