/*
Style sheet for the plugin
*/



.fimage
{
float: left;
margin: 10px; 
margin-top: 30px;
}

.pname
{
float: left;
margin-top: 32px;
border-left: solid grey 1px;
margin-left: 25px;
padding-left: 30px;
padding-top: 29px;
padding-bottom: 25px;
font-size: .9em;

}

.rcontents
{
float: left;
margin-top: 5px;
border-bottom: solid hsl(0, 96%, 21%);
text-indent: 2.5em;
}



    
              